# Dependencias de Node
node_modules/

# Archivos de compilación
build/

# Unity Assets (si no están en la carpeta 'build')
#public/Unity/Build/ 
public/Model
public/media
#.env

# Archivos de lock
package-lock.json