# Dependencias de Node
node_modules/

# Archivos de compilación
build/

# Unity Assets (si no están en la carpeta 'build')
#public/Unity/Build/ 
public/model
public/media
#.env
src/media/Avatar
src/media/avatar
# Archivos de lock
package-lock.json