/*
Forma de usar Variables para en css
:root{
--NombreVariable: Atributo;
}
div{
Background: var(--NombreVariable);
}
*/
:root{
    --Black: rgba(0, 0, 0, 1);
    --Sombra_1: 0 0 10px red;
    --White: rgba(255, 255, 255, 1);
    --Sombra_2: 0 0 10px blue;

}
.divHeader{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    background: white;
    /* var(--White); */
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black; /*Para mirar mejor la estructura*/
}
.divHeader>h1{
    display: flex;
    text-align: center;
    font-size: 6vh;
}
.Shadow_1{
    color: var(--White);
    text-shadow: var(--Sombra_1);
}

.Shadow_2{
    color: var(--White);
    text-shadow: var(--Sombra_2);
}