@import './dashboardAdmin.css';
@import './global.css';
@import './header.css';
@import './interfaz.css';
@import './ManualUsuario.css';
@import './mapa.css';
@import './registro.css';
/* @import './sidebaAdmin.css'; */
/* @import './sidebar.css'; */